<form #bookingForm="ngForm" [formGroup]="bookingDetails" (ngSubmit)="onSubmit()"
  class="flex flex-col items-center gap-2 w-[100vw] p-4 bg-gradient-to-r from-slate-50 to-slate-200 relative rounded-xl">

  <h2 class="text-xl">Book table #{{data.tableNumber}}</h2>

  <mat-form-field>
    <mat-label class="flex flex-col">
      First name
    </mat-label>
    <input matInput type="text" formControlName="firstName" name="first-name">
  </mat-form-field>

  <mat-form-field>
    <mat-label class="flex flex-col">
      Last name
    </mat-label>
    <input matInput type="text" formControlName="lastName" name="last-name">
  </mat-form-field>

  <mat-form-field>
    <mat-label class="flex flex-col">
      Email
    </mat-label>
    <input matInput type="text" formControlName="email" name="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      Number of people
    </mat-label>
    <input matInput type="number" formControlName="persons">
  </mat-form-field>

  <mat-form-field color="accent">
    <mat-label>Date</mat-label>
    <input formControlName="date" matInput [matDatepicker]="picker2">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 color="primary"></mat-datepicker>
  </mat-form-field>

  <mat-radio-group class="flex flex-col" formControlName="time" aria-label="Time option">
    <mat-radio-button value="18:00">18:00</mat-radio-button>
    <mat-radio-button value="21:00">21:00</mat-radio-button>
  </mat-radio-group>

  <button mat-raised-button color="primary" type="submit">Book</button>

  <button mat-raised-button color="warn" class="!absolute !left-4 !bottom-4" type="button"
    (click)="onNoClick()">Cancel</button>
</form>