<mat-sidenav-container class="height">
  <mat-sidenav #sidenav opened mode="side" class="!w-[200px] formstyle">
    <mat-nav-list class="text-center">
      <mat-list-item *ngFor="let route of routes">
        <a [routerLink]="route.path" routerLinkActive="font-semibold" class="w-full h-full">{{route.name}}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="bg-[#FEF7D6]">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>