<form class="flex flex-row p-6 bg-slate-50 rounded-lg">
  <mat-form-field color="accent">
    <mat-label>Datum</mat-label>
    <input [formControl]="date" #dateInput matInput [matDatepicker]="picker2" (dateChange)="handleInputChangeEvent()">
    <mat-hint>ÅÅÅÅ-MM-DD</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 color="primary"></mat-datepicker>
  </mat-form-field>

  <mat-radio-group class="flex flex-row items-center m-2" [formControl]="time" aria-label="Time option"
    [value]="time.value" (change)="handleInputChangeEvent()">
    <mat-radio-button value="18" [checked]="true">18:00</mat-radio-button>
    <mat-radio-button value="21">21:00</mat-radio-button>
  </mat-radio-group>
</form>